/* `XHTML, HTML4, HTML5 Reset
----------------------------------------------------------------------------------------------------*/

a,abbr,acronym,address,applet,article,aside,audio,
b,big,blockquote,body,canvas,caption,center,cite,
code,dd,del,details,dfn,dialog,div,dl,dt,em,embed,
fieldset,figcaption,figure,font,footer,form,h1,h2,
h3,h4,h5,h6,header,hgroup,hr,html,i,iframe,img,ins,
kbd,label,legend,li,mark,menu,meter,nav,object,ol,
output,p,pre,progress,q,rp,rt,ruby,s,samp,section,
small,span,strike,strong,sub,summary,sup,ul,var,video,
xmp {
	border: 0;
	margin: 0;
	padding: 0;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 100%;
}

html,
body {
	height: 100%;
}

article,aside,details,figcaption,figure,footer,
header,hgroup,menu,nav,section {
	display: block;
}

b,strong {
	font-weight: bold;
}

img {
	color: transparent;
	font-size: 0;
	vertical-align: middle;
	-ms-interpolation-mode: bicubic;
}

.style_table,
.style_table tr,
.style_table td {
	border: 0px;
	margin: 0px;
	padding: 0px;
}

.ib {
	display: inline-block;
	vertical-align: top;
}
* {
	font-family: 'Raleway', sans-serif;
}

body {
	margin: 0px;
	padding: 0px;
}

ul, li {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

/*0.0 Menu*/

.menu_bar {
	background-color: #000000;
	margin: 0 auto;
	width: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
	border-bottom: 2px solid #808080;
	z-index: 99;
}

.menu_bar a {
	display: block;
	padding: 10px;
	color: white;
	text-decoration: none;
	background-color: #000000;
	font-family: 'Droid Serif', serif;
}

.menu_bar a:hover {
	color: #C0C0C0;
}

.menu_row {
	margin: 0 auto;
	width: 980px;
	height: 40px;
}

.menu_row > li {
	display: inline-block;
	position: relative;
	margin-right: 30px;
	float: left;
}

.sub_menu {
	display: none;
	position: absolute;
	list-style: none;
	padding: 0px;
	margin-top: 1px;
	border-top: 3px solid #808080;
	z-index: 2;
}

.sub_menu>li {
	display: block;
	height: 40px;
	width: 200px;
	overflow: hidden;
	border-top: 1px solid #808080;
	margin-top: -2px;
}

.sub_menu a {
	vertical-align: center;
	text-align: center;
	display: block;
}

.menu_triangle {
	display: none;
}

.triangle_top_grey {
	position: absolute;
	right: 40%;
	top: 83%;
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 10px solid #808080;
	z-index: 19;
}

.triangle_top_black {
	position: absolute;
	right: 43%;
	top: 92%;
	width: 0;
	height: 0;
	border-left: 3px solid transparent;
	border-right: 3px solid transparent;
	border-bottom: 6px solid #000000;
	z-index: 20;
}

.menu_row > li:hover .sub_menu {
	display: block;
}

.menu_row > li:hover .menu_triangle {
	display: block;
}

/*0.0 Categories*/
.about .sub_menu {
	left: -95%;
}

.tags .sub_menu {
	left: -120%;
}

.travels .sub_menu {
	left: -75%;
}

/*0.0social-media*/
.social .sub_menu {
	left: -95%;
}

.menu_fb a {
	background: #000000 url("../images/fb_w.png")  no-repeat 4% 50%;
}

.menu_fb a:hover {
	background: #000000 url("../images/fb_g.png")  no-repeat 4% 50%;
}

.menu_in a {
	background: #000000 url("../images/in_w.png")  no-repeat 4% 50%;
}

.menu_in a:hover {
	background: #000000 url("../images/in_g.png")  no-repeat 4% 50%;
}

.menu_vk a {
	background: #000000 url("../images/vk_w.png")  no-repeat 4% 50%;
}

.menu_vk a:hover {
	background: #000000 url("../images/vk_g.png")  no-repeat 4% 50%;
}

.menu_tw a {
	background: #000000 url("../images/tw_w.png")  no-repeat 4% 50%;
}

.menu_tw a:hover {
	background: #000000 url("../images/tw_g.png")  no-repeat 4% 50%;
}

/*search*/

li.search {
	margin-right: 0px;
	float: right;
}

.search input {
	padding-top: 10px;
	background-color: #000000;
	border: 0px;
}

.search input[value],.search input[placeholder] {
	color: #C0C0C0;
	text-transform: uppercase;
	font-family: 'Volkhov', serif;
}

.search_btn {
	background: #000000 url("../images/sprite_icons.png")  no-repeat -15px 0px;
	height: 15px;
	width: 15px;
	text-indent: -9999px;
	border: 0 none;
	margin-top: 13px;
	padding: 0;
	cursor: pointer;
}

.search_btn:hover {
	background: #000000 url("../images/sprite_icons.png")  no-repeat 1px 0px;
}

/*0.0 logo*/

.main-logo {
	text-decoration: none;
	font-family: 'Volkhov', serif;
	font-size: 70px;
	margin: 60px auto;
	margin-bottom: 30px;
	display: block;
	text-align: center;
	color: #000000;
}

/*0.0 Content-conteiner*/
.main {
	margin: 0 auto;
	width: 980px;
}

/*0.0 Last Post*/
.last_post {
	padding-bottom: 10px;
	border-bottom: 1px solid #808080;
}

.post_title {
	text-align: center;
	padding: 20px 0px 10px 0px;
}

.post_title a {
	text-decoration: none;
	color: #000000;
	font-size: 30px;
}

.post_info {
	color: #808080;
	text-align: center;
}

.post_place {
}

.post_time {
}

.post_content {
	margin: 0 10%;
	padding: 10px 0;
	text-align: justify;
}

/* 0.0 Read more */
.read_more_btn a {
	display: block;
	width: 75px;
	position: relative;
	margin: 0 auto;
	padding: 5px;
	text-decoration: none;
	font-size: 12px;
	text-transform: uppercase;
	font-family: 'Volkhov', serif;
	color: #808080;
	border: 1px solid #808080;
}

.read_more_btn a:hover {
						/* добавить плавность! */
	transition: 1s;
	background-color: #C0C0C0;
	color: #FFFFFF;
	border: 1px solid #FFFFFF;
}
/*0.0 Post Response*/

.post_sm {
	margin: 20px 0px;
}

.post_sm li {
	display: inline-block;
}

.post_sm a {
	text-decoration: none;
	margin: 0px 10px 0px 20px;
	color: #808080;
	width: 100%;
	overflow: hidden;
}

.post_fb {
	background: #ffffff url("../images/sprite_icons.png") no-repeat 0px -30px;
	width: 15px;
	height: 15px;
}

.post_fb:hover {
	background: #ffffff url("../images/sprite_icons.png") no-repeat -16px -30px;
}

.post_in {
	background: #ffffff url("../images/sprite_icons.png") no-repeat 0px -45px;
	width: 15px;
	height: 15px;
}

.post_in:hover {
	background: #ffffff url("../images/sprite_icons.png") no-repeat -16px -45px;
}

.post_vk {
	background: #ffffff url("../images/sprite_icons.png") no-repeat 0px -61px;
	width: 15px;
	height: 15px;
}

.post_vk:hover {
	background: #ffffff url("../images/sprite_icons.png") no-repeat -17px -61px;
}

.post_tw {
	background: #ffffff url("../images/sprite_icons.png") no-repeat 0px -75px;
	width: 15px;
	height: 15px;
}

.post_tw:hover {
	background: #ffffff url("../images/sprite_icons.png") no-repeat -17px -75px;
}

.post_comm {
	background: #ffffff url("../images/sprite_icons.png") no-repeat 0px -15px;
	width: 15px;
	height: 15px;
}

.post_comm:hover {
	background: #ffffff url("../images/sprite_icons.png") no-repeat -17px -15px;
}

.post_comm_wrap {
	float: right;
}
/* 0.0 Other Posts (left bar)*/
.blog_2bars {
}

.blog_post {
	width: 640px;
	margin: 5px 35px 0px 0px;
}

.small_post_conteiner {
	margin: 35px 0 0;
	border-bottom: 1px solid #C0C0C0;
}

.more_posts_btn a {
	display: block;
	width: 82px;
	position: relative;
	margin: 10px auto;
	padding: 5px;
	text-decoration: none;
	font-size: 12px;
	text-transform: uppercase;
	font-family: 'Volkhov', serif;
	color: #808080;
	border: 1px solid #808080;
}

.more_posts_btn a:hover {
	transition: 1s;
	background-color: #C0C0C0;
	color: #FFFFFF;
}


	/* 0.0 Right bar*/
.sidebar {
	width: 300px;
}

.conteiner_black {
	background-color: #000000;
	width: 100%;
	position: relative;
}

.conteiner_black:after {
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid #000000;
	bottom: -5px;
	content: "";
	display: block;
	height: 0;
	left: 50%;
	margin-left: -5px;
	position: absolute;
	width: 0;
}
	/* 0.0 Share*/
.circle {
	display: block;
	width: 60px;
	height: 80px;
	overflow: hidden;
	margin: 20px 5px 30px;
	position: relative;
}

a.circle p {
	color: #808080;
	margin-top: 55px;
	text-decoration: none;
	text-align: center;
	font-size: 11px;
}

a.circle {
	text-decoration: none;
}

.social_circles>li {
	display: inline-block;
}

.circle_fb {
	background: #ffffff url("../images/sprite_icons.png") no-repeat -50px 0px;
}

.circle_in {
	background: #ffffff url("../images/sprite_icons.png") no-repeat -111px 0px;
}

.circle_vk {
	background: #ffffff url("../images/sprite_icons.png") no-repeat -172px 0px;
}

.circle_tw {
	background: #ffffff url("../images/sprite_icons.png") no-repeat -233px 0px;
}
	/* 0.0 Instagram*/
.sidebar_black_block {
	border: 1px solid #C0C0C0;
	margin-top: 40px;
}

.sidebar_black_block p {
	padding: 10px;
	text-align: center;
	color: #ffffff;
	margin: 0;
}

a.inst_ref {
	text-decoration: none;
	color: #C0C0C0;
	text-align: center;
}
	/* 0.0 Video*/






/* 0.0 Footer*/

	/* 0.0 Footer pop-posts*/
.conteiner_white {
	background-color: #FFFFFF;
	width: 100%;
}

.conteiner_margin {
	width: 980px;
	display: block;
	margin: 0 auto;
}

.pop_posts {
	margin: 20px 0;
}

.pop_posts p {
	text-align: center;
	font-size: 25px;
	font-family: 'Droid Serif', serif;
	margin-bottom: 10px;
}
	/* 0.0 Footer menu*/
.conteiner_grey {
	background-color: #C0C0C0;
	width: 100%;
}

.footer_sub_menu {
	display: none;
	position: absolute;
	list-style: none;
	padding: 0px;
	top: -120px;
	border-top: 3px solid #808080;
	z-index: 2;
}

.footer_sub_menu>li {
	display: block;
	height: 40px;
	width: 200px;
	overflow: hidden;
	border-top: 1px solid #808080;
	margin-top: -2px;
}

.footer_sub_menu a {
	vertical-align: center;
	text-align: center;
	display: block;
}

.footer_menu_row > li {
	display: inline-block;
	position: relative;
	margin-right: 30px;
}

.footer_menu_row a {
	display: block;
	padding: 10px;
	color: black;
	text-decoration: none;
	background-color: #C0C0C0;
	font-family: 'Droid Serif', serif;
}

li.back_to_top {
	margin-right: 0px;
	float: right;
}

.footer_menu_row a:hover {
	color: #ffffff;
}
	/* 0.0 Footer socia*/
.footer_social_stats {
	padding: 20px 70px;
}

.circle_small {
	width: 200px;
	height: 30px;
	overflow: hidden;
	position: relative;
}

li.circle_small p {
	color: #808080;
	margin-left: 40px;
	text-decoration: none;
	text-align: left;
	font-size: 12px;
}

li.circle_small a {
	text-decoration: none;
}

.small_circle_fb {background: #C0C0C0 url("../images/sprite_icons.png") no-repeat 0px -100px;}
.small_circle_in {background: #C0C0C0 url("../images/sprite_icons.png") no-repeat 0px -131px;}
.small_circle_vk {background: #C0C0C0 url("../images/sprite_icons.png") no-repeat 0px -162px;}
.small_circle_tw {background: #C0C0C0 url("../images/sprite_icons.png") no-repeat 0px -193px;}

	/* 0.0 Footer copyright*/

.copyright {
	padding: 15px 10px 15px 10px;
}

.copyright a {
	vertical-align: middle;
	text-align: center;
	color: #ffffff;
	text-decoration: none;
}

.footer_conteiner {
	background-color: #000000;
	width: 100%;
}

.copyright a:nth-child(2) {
	float: right;
}